<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="APT.AptService" behaviorConfiguration="mexBehaviorHttp">
        <endpoint address="APT" binding="basicHttpBinding" contract="APT.IAptService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090"/>
          </baseAddresses>
        </host>
      </service>
      <service name="KGB.KgbService" behaviorConfiguration="mexBehaviorTcp">
        <endpoint address="KGB" binding="netTcpBinding" contract="KGB.IKgbService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9091"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviorHttp">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="mexBehaviorTcp">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>