<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAptService" />
                <binding name="YUMServiceSoap" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IKgbService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8523/KgbService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IKgbService" contract="ServiceReferenceKgb.IKgbService"
                name="NetTcpBinding_IKgbService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/AptService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAptService" contract="ServiceReferenceApt.IAptService"
                name="BasicHttpBinding_IAptService" />
            <endpoint address="http://localhost:53085/YUMService.asmx" binding="basicHttpBinding"
                bindingConfiguration="YUMServiceSoap" contract="ServiceReferenceYum.YUMServiceSoap"
                name="YUMServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>